<html>
	<head>
		<title>Demo Socketio - Homepage</title>
		<script src="jquery.js"></script>
		<script src="socket.io/socket.io.js"></script>

		<script>
			var socket = io("http://localhost:3001");
            let room = 'room1';

            socket.on('connect', () => {
              console.log(socket.connected); // true
                socket.emit('room', room);
            });

            socket.on('joined', function(data) {
                console.log(data);
            })

            socket.on('error', function (err) {
                console.log(err);
            });

		</script>
	</head>
</html>